.hero_wrapper {
  max-width: 110rem;

  & > p {
    line-height: 100%;
  }

  button {
    margin-top: 2.5rem;
  }
}

.greeting {
  font-size: 2.4rem;
  font-weight: 600;

  color: var(--text-primary-dark);
  margin-bottom: 0.25rem;
}

.name {
  font-size: 7.2rem;
  font-weight: 500;

  color: var(--text-primary-light);
  margin-bottom: 0.5rem;
}

.profession {
  font-size: 4.8rem;
  font-weight: 500;
  color: var(--text-primary);

  margin-bottom: 1.25rem;
}

.highlight,
.highlight::after {
  background: radial-gradient(
    circle,
    var(--accent-purple-light),
    var(--accent-purple),
    var(--accent-purple-dark)
  );
  animation: colorSwap 15s linear infinite;
  background-size: 200%;
}

.highlight {
  position: relative;
  display: inline-block;

  background-clip: text;
  color: transparent;
}

.highlight::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;

  width: 100%;
  height: 4px;
}

@keyframes colorSwap {
  to {
    background-position: 200%;
  }
}

.subtext {
  font-size: 2.4rem;
  color: var(--text-primary-dark);
  line-height: 1.3 !important;

  max-width: 60rem;
}
