.technology {
  display: flex;
  align-items: center;

  gap: 0.75rem;

  background-color: var(--bg-color-light);
  padding: 0.75rem 1rem;
  border-radius: 6px;
}

.icon {
  width: 3.2rem;
}

.filter_name {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.75px;

  user-select: none;
}
