.download_button {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1.5rem;
  font-size: 2rem;

  padding: 0.75rem 1.5rem;
  font-weight: 600;

  border-radius: 4px;
  transition: all 0.4s;

  width: max-content;

  svg {
    width: 1.2em;
    height: 1.2em;
    vertical-align: baseline;
  }
}

.download_button:link,
.download_button:visited {
  background-color: var(--accent-red);
  color: var(--text-primary-light);

  box-shadow: 0 6px 12px var(--shadow-red);
}

.download_button:hover,
.download_button:focus {
  background-color: var(--hover-red);
  color: var(--text-primary);

  box-shadow: 0 6px 12px var(--shadow-red-hover);
}

.download_button:active {
  background-color: var(--active-red);
  color: var(--text-primary-light);

  box-shadow: 0 6px 12px var(--shadow-red);
}
