.introduce_wrapper {
  display: flex;
  gap: 5rem;
}

.image_box {
  flex: 0 0 15rem;

  border-radius: 6px;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  gap: 2rem;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  font-size: 2.8rem;

  a:link,
  a:visited {
    color: unset;
  }

  svg {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;

    transition: color 0.4s;
  }

  svg:hover {
    color: var(--hover-red);
  }
}

.introduce_box {
  color: var(--text-primary-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .introduce_header {
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 100%;

    margin-bottom: 1.25rem;
  }

  .introduce_text {
    font-size: 2rem;
    font-weight: 500;
    text-align: justify;

    max-width: 65ch;
  }
}

@media screen and (max-width: 985px) {
  .introduce_wrapper {
    display: flex;
    gap: 3rem;
  }

  .introduce_box {
    .introduce_header {
      font-size: 4.4rem;
    }

    .introduce_text {
      font-size: 1.9rem;
    }
  }
}

@media screen and (max-width: 930px) {
  .introduce_wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .introduce_box {
    gap: 0.5rem;
  }

  .image_box {
    flex: unset;
    width: max-content;
    margin: 0 auto;

    border-radius: 6px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2rem;

    img {
      width: 20rem;
      height: auto;
    }
  }

  .socials {
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 575px) {
  .introduce_wrapper {
    display: flex;
    gap: 3rem;
  }

  .no_break {
    display: inline-block;
    text-wrap: nowrap;
    margin-top: 0.5rem;
  }

  .introduce_box {
    gap: 1rem;

    .introduce_header {
      font-size: 4rem;
      align-items: center;
    }

    .introduce_text {
      font-size: 1.8rem;
    }
  }
}

@media screen and (max-width: 405px) {
  .introduce_box {
    .introduce_header {
      font-size: 3.6rem;
      align-items: center;
    }
  }
}
