.aboutme_wrapper {
  height: 100%;
  max-width: 105rem;
  width: 100%;

  margin: 0 auto;

  border-radius: 6px;

  & > section {
    margin-bottom: 7.5rem;
  }

  & > section:last-child {
    margin-bottom: 0;
  }
}
