.aboutme_wrapper {
  height: 100%;
  max-width: 105rem;
  width: 100%;

  margin: 0 auto;

  border: 2px solid var();

  border-radius: 6px;
  padding: 3rem 5rem;

  border: 2px solid var(--bg-color);

  & > div {
    margin-bottom: 5rem;
  }

  & > div:last-child {
    margin-bottom: 0;
  }
}
