.list_item {
  cursor: pointer;
  transition: all 0.4s;

  position: relative;
  user-select: none;

  background: #ffffff0d;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.2px);
  -webkit-backdrop-filter: blur(13.2px);

  padding: 0.5rem;
}

.list_item::before,
.list_item::after {
  visibility: hidden;
  pointer-events: none;
}

.list_item::before {
  position: absolute;
  content: attr(data-technology);

  top: -40px;
  left: 50%;

  white-space: nowrap;

  transform: translateX(-50%);

  color: var(--text-primary-light);

  background: rgba(255, 255, 255, 0.05);

  padding: 0.25rem 0.5rem;
  border-radius: 6px;

  font-weight: 600;
  letter-spacing: 0.5px;
}

.list_item::after {
  position: absolute;
  content: "";

  width: 20px;
  height: 20px;

  top: -21px;
  z-index: -1;

  background: rgba(255, 255, 255, 0.05);

  left: 50%;
  transform: translateX(-50%);

  clip-path: polygon(100% 50%, 0 50%, 50% 100%);

  transition: opacity 0.4s;
}

.list_item:hover {
  scale: 1.1;
}

.list_item:hover::after,
.list_item:hover::before {
  visibility: visible;
  pointer-events: initial;
}

.technology_icon {
  width: 8.4rem;
}
