.button {
  display: flex;
  cursor: pointer;

  border: none;
  font-size: 2rem;

  padding: 0.75rem 1.5rem;
  font-weight: 600;

  transition: all 0.4s;

  border-radius: 4px;
}

.primary {
  background-color: var(--accent-red);
  color: var(--text-primary-light);

  box-shadow: 0 6px 12px var(--shadow-red);

  transition: all 0.4s;
}

.primary:hover,
.primary:focus {
  background-color: var(--hover-red);
  color: var(--text-primary);

  box-shadow: 0 6px 12px var(--shadow-red-hover);
}

.primary:active {
  background-color: var(--active-red);
  color: var(--text-primary-light);

  box-shadow: 0 6px 12px var(--shadow-red);
}

.outline-primary-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  background: none;
  color: var(--text-primary-light);
  border: 6px double var(--accent-red);
  border-radius: 100px;

  box-shadow: 0 4px 12px var(--shadow-red);

  transition: all 0.4s;

  svg {
    width: 3.2rem;
    height: 3.2rem;
    vertical-align: middle;
    color: var(--text-primary-light);

    transition: all 0.4s;
  }
}

.outline-primary-icon:hover,
.outline-primary-icon:focus {
  border: 6px double var(--hover-red);
  color: var(--text-primary);

  box-shadow: 0 4px 12px var(--shadow-red-hover);

  svg {
    color: var(--text-primary);
  }
}

.outline-primary-icon:active {
  background-color: var(--active-red);
  color: var(--text-primary-light);

  box-shadow: 0 4px 12px var(--shadow-red);

  svg {
    color: var(--text-primary-light);
  }
}
