.button {
  display: inline-block;
  cursor: pointer;

  border: none;
  font-size: 2rem;

  padding: 0.5rem 1.5rem;
  font-weight: 600;

  transition: all 0.4s;

  border-radius: 4px;
}

.primary-animated {
  background-color: var(--accent-red);
  color: var(--text-primary);

  box-shadow: 0 0.5rem 1.5rem var(--shadow-red);
}

.primary-animated:hover {
  color: var(--text-primary-light);
  background-color: var(--hover-red);
  box-shadow: 0 1rem 2rem var(--shadow-red-hover);

  transform: translateY(-2px);
}

.primary-animated:active {
  color: var(--text-primary-light);
  transform: translateY(0px);
  box-shadow: 0 0.5rem 1.5rem var(--shadow-red);
}

.primary {
  background-color: var(--accent-red);
  color: var(--text-primary);

  box-shadow: 0 0.5rem 1.5rem var(--shadow-red);
}

.primary:hover {
  background-color: var(--hover-red);
  color: var(--text-primary-light);

  box-shadow: 0 0.5rem 1.5rem var(--shadow-red-hover);
}
