:root {
  /* Tło */
  --bg-color: #0d0d0d; /* Ciemne, niemal czarne tło */
  --bg-color-light: #1a1a1a; /* Jaśniejszy odcień czerni */
  --bg-color-dark: #080808; /* Głębsza czerń */

  /* Akcenty czerwieni */
  --accent-red: #b22222; /* Nasycona, ciemna czerwień */
  --accent-red-light: #d32f2f; /* Jaśniejszy akcent czerwieni */
  --accent-red-dark: #8b1a1a; /* Głęboka, krwista czerwień */

  /* Tekst */
  --text-primary: #e0e0e0; /* Jasnoszary tekst */
  --text-primary-light: #ffffff; /* Czysta biel */
  --text-primary-dark: #b0b0b0; /* Ciemny szary tekst */

  /* Hover i efekty */
  --hover-red: #ff4c4c; /* Jasna czerwień na hover */
  --active-red: #c62828; /* Intensywna, elegancka czerwień */
  --shadow-red: rgba(178, 34, 34, 0.5); /* Czerwony cień */
  --shadow-red-hover: rgba(215, 38, 56, 0.7);

  /* Box-shadow */
  --box-shadow-dark: rgba(0, 0, 0, 0.5); /* Ciemny cień */
  --box-shadow-soft: rgba(13, 13, 13, 0.8); /* Subtelny cień w czerni */
  --box-shadow-accent: rgba(178, 34, 34, 0.6); /* Akcentowy cień czerwieni */
  --box-shadow-dark: rgba(0, 0, 0, 0.5); /* Ciemny cień */
  --box-shadow-dark-hover: rgba(0, 0, 0, 0.7); /* Ciemniejszy cień na hover */
  --box-shadow-accent: rgba(178, 34, 34, 0.6); /* Akcentowy cień czerwieni */
  --box-shadow-accent-hover: rgba(
    215,
    38,
    56,
    0.8
  ); /* Jaśniejszy cień na hover */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;

  color: var(--text-primary);
  background-color: var(--bg-color);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
